<nav class="navbar navbar-expand-lg bg-light shadow sticky-top p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-5">
        <li routerLinkActive="activeRoute" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Home</a
          >
        </li>
        <li routerLinkActive="activeRoute" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about"
            >About</a
          >
        </li>
        <li routerLinkActive="activeRoute" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contact"
            >Contact</a
          >
        </li>
        <li routerLinkActive="activeRoute" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="products"
            >Products</a
          >
        </li>
        <li routerLinkActive="activeRoute" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="services"
            >Services</a
          >
        </li>
        <li routerLinkActive="activeRoute" class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="add-product"
            >Add Products</a
          >
        </li>
      </ul>
      <div class="d-flex gap-4" role="search">
        <a routerLink="sign-up">
          <button class="btn btn-success" type="submit">Sign Up</button>
        </a>
        <button class="btn btn-outline-success">Log In</button>
        <button
          type="button"
          class="position-relative"
          style="border: none; background-color: inherit"
        >
          <i class="fa-solid fa-cart-shopping"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            {{ productLength }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
