<div>
  <div class="col-11 mx-auto">
    <h3 class="mt-5 text-center">Contact Page</h3>
    <div class="container mx-auto mt-4">
      <p class="bg alert alert-danger my-5 p-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat sunt,
        labore reiciendis minima illo harum, in iure magni corporis laboriosam,
        nemo quasi reprehenderit! Odit omnis fugit deleniti id necessitatibus
        voluptates! Dignissimos modi nesciunt aperiam qui esse accusantium
        reiciendis adipisci in ad officiis sequi quas delectus soluta, hic
        eaque, eius provident nulla dolorum cum. Eaque quisquam fugiat
        aspernatur nostrum vero provident. Culpa debitis exercitationem omnis
        perspiciatis facilis incidunt magnam, esse amet assumenda natus.
        Perspiciatis porro natus aut distinctio repellat expedita voluptate
        nostrum eveniet tempore iure. Iusto minima eaque a velit repudiandae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat sunt,
        labore reiciendis minima illo harum, in iure magni corporis laboriosam,
        nemo quasi reprehenderit! Odit omnis fugit deleniti id necessitatibus
        voluptates! Dignissimos modi nesciunt aperiam qui esse accusantium
        reiciendis adipisci in ad officiis sequi quas delectus soluta, hic
        eaque, eius provident nulla dolorum cum. Eaque quisquam fugiat
        aspernatur nostrum vero provident. Culpa debitis exercitationem omnis
        perspiciatis facilis incidunt magnam, esse amet assumenda natus.
        Perspiciatis porro natus aut distinctio repellat expedita voluptate
        nostrum eveniet tempore iure. Iusto minima eaque a velit repudiandae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat sunt,
        labore reiciendis minima illo harum, in iure magni corporis laboriosam,
        nemo quasi reprehenderit! Odit omnis fugit deleniti id necessitatibus
        voluptates! Dignissimos modi nesciunt aperiam qui esse accusantium
        reiciendis adipisci in ad officiis sequi quas delectus soluta, hic
        eaque, eius provident nulla dolorum cum. Eaque quisquam fugiat
        aspernatur nostrum vero provident. Culpa debitis exercitationem omnis
        perspiciatis facilis incidunt magnam, esse amet assumenda natus.
        Perspiciatis porro natus aut distinctio repellat expedita voluptate
        nostrum eveniet tempore iure. Iusto minima eaque a velit repudiandae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat sunt,
        labore reiciendis minima illo harum, in iure magni corporis laboriosam,
        nemo quasi reprehenderit! Odit omnis fugit deleniti id necessitatibus
        voluptates! Dignissimos modi nesciunt aperiam qui esse accusantium
        reiciendis adipisci in ad officiis sequi quas delectus soluta, hic
        eaque, eius provident nulla dolorum cum. Eaque quisquam fugiat
        aspernatur nostrum vero provident. Culpa debitis exercitationem omnis
        perspiciatis facilis incidunt magnam, esse amet assumenda natus.
        Perspiciatis porro natus aut distinctio repellat expedita voluptate
        nostrum eveniet tempore iure. Iusto minima eaque a velit repudiandae?
      </p>
    </div>
  </div>
</div>
