<div class="row w-100 container-fluid mx-auto">
  <div
    *ngFor="let item of Products"
    class="mx-1 h-100 rounded-md p-2 shadow child"
  >
    <div class="img-div">
      <img class="img-fluid w-100 h-100" src="{{ item.image }}" alt="" />
    </div>
    <h4>{{ item.name }}</h4>
    <p>{{ item.price }}</p>
    <p>{{ item.category }}</p>
    <div class="d-flex items-center justify-content-between">
      <button
        (click)="handleShowDetails(item.id)"
        class="btn btn alert alert-danger"
      >
        Show Details
      </button>
      <button class="btn btn alert alert-success">Add To Cart</button>
    </div>
  </div>
</div>
